#root {
    /* height: 10em;
    width: 10em;
    background: lightblue;
    overflow: hidden; */
  }
  
  #modal-root {
    position: relative;
    z-index: 999;
  }
  
  .modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent {
    position: relative;
    width:200px;
    height: 10000px;
    background-color: #cfc;
    overflow: hidden;
  }
  